<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}History Explorer{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <header>
        <div class="header-top">
            <a href="{{ url_for('home') }}">
                <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" class="logo">
            </a>
            <h1>History Explorer</h1>
        </div>
        <nav class="main-nav">
            <a href="/" class="{% if active_page == 'home' %}active{% endif %}">Home</a>
            <a href="/machu_picchu" class="{% if active_page == 'machu_picchu' %}active{% endif %}">Machu Picchu</a>
            <a href="/mayans" class="{% if active_page == 'mayans' %}active{% endif %}">Mayans</a>
            <a href="/egypt" class="{% if active_page == 'egypt' %}active{% endif %}">Egypt</a>
            <a href="/contact" class="{% if active_page == 'contact' %}active{% endif %}">Contact</a>
        </nav>
    </header>

    <br>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 History Explorer. All rights reserved.</p>
    </footer>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>