<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <h1>Python Project - Contact</h1>
    <nav>
        <a href="/" class="{% if active_page == 'home' %}active{% endif %}">Home</a> |
        <a href="/projects" class="{% if active_page == 'projects' %}active{% endif %}">Projects</a> |
        <a href="/skills" class="{% if active_page == 'skills' %}active{% endif %}">Skills</a> |
        <a href="/about" class="{% if active_page == 'about' %}active{% endif %}">About</a> |
        <a href="/contact" class="{% if active_page == 'contact' %}active{% endif %}">Contact</a>
    </nav>


    <form method="POST">
        <label>Name:</label>
        <input type="text" name="name" required><br>
        <label>Message:</label>
        <textarea name="message" required></textarea><br>
        <button type="submit">Send</button>
    </form>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>