{% extends "base.html" %}

{% block title %}Home | History Explorer{% endblock %}

{% block content %}
<section class="hero">
    <h2>Welcome to History Explorer</h2>
    <p>History Explorer helps you discover the ancient worlds through fantastic adventures, history and breathtaking
        landscapes. Step into the past and journey through the world's most fascinating ancient civilizations. Discover
        the
        engineering marvels, rich cultures, and wonderful stories of the Incas, Mayans, and Egyptians.</p>
    <a href="#destinations" class="cta-button">Start Exploring</a>
</section>

<section class="why-history-explorer">
    <h2>Why History Explorer?</h2>
    <p>At History Explorer, we believe that the past holds the key to understanding our world. Travel back in time and
        experience the culture, achievements, and mysteries of great ancient civilizations. Whether you're a history
        enthusiast or an adventurous traveler, there's something for everyone to discover. Will you solve some of the
        mysteries and help rewrite history? Will you find a hidden treasure along the way?</p>
</section>

<section id="destinations" class="destinations-preview">
    <div class="destination-card">
        <a href="/machu_picchu">
            <img src="{{ url_for('static', filename='images/machu_picchu.jpg') }}" alt="Machu Picchu">
        </a>
        <h3><a href="/machu_picchu">Machu Picchu</a></h3>
    </div>
    <div class="destination-card">
        <a href="/mayans">
            <img src="{{ url_for('static', filename='images/mayans.jpg') }}" alt="Mayan Ruins">
        </a>
        <h3><a href="/mayans">Mayans</a></h3>
    </div>
    <div class="destination-card">
        <a href="/egypt">
            <img src="{{ url_for('static', filename='images/egypt.jpg') }}" alt="Egyptian Pyramids">
        </a>
        <h3><a href="/egypt">Egypt</a></h3>
    </div>
</section>

<section class="testimonials">
    <h2>What Explorers Are Saying</h2>
    <div class="testimonial">
        <p>"Standing in the shadow of the pyramids and reviving my history was a dream come true. Thanks to History
            Explorer, I knew exactly where to go and what to see!"</p>
        <span>- Anubis, Ancient Egyptian god of mummification</span>
    </div>
    <div class="testimonial">
        <p>"The site helped me understand so much about the Mayan culture before my trip. There was no need to get into
            fights for a bit of action, the ruins were much more fascinating than expected!"</p>
        <span>- Zorro, Fictional character created in 1919</span>
    </div>
    <div class="testimonial">
        <p>"The site helped me understand so much about the Mayan culture before my trip. There was no need to get into
            fights for a bit of action, the ruins were much more fascinating than expected!"</p>
        <span>- Apu Illapu, The God of Rain and Thunder</span>
    </div>
</section>
{% endblock %}