{% extends "base.html" %}

{% block title %}Home | History Explorer{% endblock %}

{% block content %}
<section class="hero">
    <h2>Welcome to History Explorer</h2>
    <p>History Explorer helps you discover the ancient worlds through fantastic adventures, history and breathtaking
        landscapes. Step into the past and journey through the world's most fascinating ancient civilizations. Discover
        the
        engineering marvels, rich cultures, and wonderful stories of the Incas, Mayans, and Egyptians.</p>
    <a href="#destinations" class="cta-button">Start Exploring</a>
</section>

<section class="sub-section">
    <h2>Why History Explorer?</h2>
    <p>At History Explorer, we believe that the past holds the key to understanding our world. Travel back in time and
        experience the culture, achievements, and mysteries of great ancient civilizations. Whether you're a history
        enthusiast or an adventurous traveler, there's something for everyone to discover. Will you solve some of the
        mysteries and help rewrite history? Will you find a hidden treasure along the way?</p>
</section>

<section id="destinations" class="destinations-preview">
    <div class="destination-card">
        <a href="/machu_picchu">
            <img src="{{ url_for('static', filename='images/machu_picchu.webp') }}" alt="Machu Picchu">
        </a>
        <h3><a href="/machu_picchu">Machu Picchu</a></h3>
    </div>
    <div class="destination-card">
        <a href="/mayans">
            <img src="{{ url_for('static', filename='images/mayans.webp') }}" alt="Mayan Ruins">
        </a>
        <h3><a href="/mayans">Mayans</a></h3>
    </div>
    <div class="destination-card">
        <a href="/egypt">
            <img src="{{ url_for('static', filename='images/egypt.webp') }}" alt="Egyptian Pyramids">
        </a>
        <h3><a href="/egypt">Egypt</a></h3>
    </div>
</section>

<section class="sub-section" id="randomDestination">
    <h2>Click the button to get your next <strong>RANDOM</strong> destination. Are you brave enough to follow through?</h2>
    <button class="btn btn-danger" id="startRandomDestination">Give me a suggestion!</button>
    <!--Destination result is populated using Javascript-->
    <p id="randomDestinationResult"></p>
</section>

<section class="sub-section">
    <h2>We would love to hear from you!</h2>
    <form id="travelForm">
        <div>Tell us what was your favourite destination so far:</div>
        <div>
            <input type="text" id="favoriteDestination" placeholder="Favorite Destination" required>
        </div>
        <div>Let us know why you liked it more than other destinations:</div>
        <div>
            <input type="text" id="whyFavorite" placeholder="Why was this your favorite?" required>
        </div>
        <div>Tell us what are you looking for when you are planning a trip:</div>
        <div>
        <input type="text" id="tripMotivation" placeholder="What are you looking for on your trips?" required>
        </div>
        <button class="btn btn-success" type="submit">Send</button>
    </form>
    <!--Javascript populates a thank you message with the favorite destination selection, reason and travel motivation-->
    <div id="formMessage"></div>
</section>

<section class="testimonials">
    <h2>What Explorers Are Saying</h2>
    <div class="testimonial">
        <p>"Standing in the shadow of the pyramids and reviving my history was a dream come true. Thanks to History
            Explorer, I knew exactly where to go and what to see!"</p>
        <span>- Anubis, Ancient Egyptian god of mummification</span>
    </div>
    <div class="testimonial">
        <p>"The site helped me understand so much about the Mayan culture before my trip. There was no need to get into
            fights for a bit of action, the ruins were much more fascinating than expected!"</p>
        <span>- Zorro, Fictional character created in 1919</span>
    </div>
    <div class="testimonial">
        <p>"The site helped me understand so much about the Mayan culture before my trip. There was no need to get into
            fights for a bit of action, the ruins were much more fascinating than expected!"</p>
        <span>- Apu Illapu, The God of Rain and Thunder</span>
    </div>
</section>
{% endblock %}